<div class="text-left">
  <p class="important">はじめに</p>
  <div class="play">
    <p>ここではこのアプリの使い方・サイト概要について紹介していきます。<br>まず、アプリのタイトルでもある「Lefilm」とはフランス語で映画という意味になります。
    <br>そして、このアプリの最大の目的は、キャッチフレーズでもある「価値観を共有したいあなたへ」とあるように、映画の検索はもちろん、他のユーザーがお気に入りした映画、
    映画に対して投稿したレビューなどが共有できるようなっており、レビューを見て映画を見た。こんな面白い映画があったんだ。
    のように一人でも多くの人が映画に対して興味を持って頂ければいいなという思いを込めて作りました。<br>また、ランキング表示などもしており、旬の映画や、お気に入りが多い映画なども共有できるようなっており、映画好きの方にとってはとっておきのアプリとなっていると思います。
    価値観を共有し、新たな映画に出会って頂きたいです。<br>それではまず、ユーザー登録の方を行ないログインしていただければと思います。</p>
  </div>  
</div>