<div class="review_pc">
  <div class="eiga_title_pc">
    <p>ジブリ</p>
  </div>
  
  <div class="reviewimage_pc">
   <div class="reviewgazou_pc">
     <img class="u-max-full-width_pc" src="images/ziburi1.jpg" alt="アイテム">
   </div>
    <div class="reviewgazou_pc">
     <img class="u-max-full-width_pc" src="images/ziburi2.jpg" alt="アイテム">
   </div>
    <div class="reviewgazou_pc">
     <img class="u-max-full-width_pc" src="images/ziburi3.jpg" alt="アイテム">
   </div>
   <div class="reviewgazou_pc">
     <img class="u-max-full-width_pc" src="images/ziburi4.jpg" alt="アイテム">
   </div>
    <div class="reviewgazou_pc">
     <img class="u-max-full-width_pc" src="images/ziburi5.jpg" alt="アイテム">
   </div>
   <div class="reviewgazou_pc">
     <img class="u-max-full-width_pc_one" src="images/ziburi6.jpg" alt="アイテム">
   </div>
  </div>
</div>

<div class="review_pc">

  <div class="eiga_title_pc">
    <p>恋愛</p>
  </div>
  
  <div class="reviewimage_pc">
    
  <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/renai1.jpg" alt="アイテム">
  </div>
   <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/renai2.jpg" alt="アイテム">
  </div>
   <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/renai3.jpg" alt="アイテム">
  </div>
  <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/renai4.jpg" alt="アイテム">
  </div>
   <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/renai5.jpg" alt="アイテム">
  </div>
  <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc_one" src="images/renai6.jpg" alt="アイテム">
  </div>
  
 </div>
 
 
</div>

<div class="review_pc">

  <div class="eiga_title_pc">
    <p>コメディ</p>
  </div>
  
  <div class="reviewimage_pc">
    
  <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/komedy1.jpg" alt="アイテム">
  </div>
   <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/komedy2.jpg" alt="アイテム">
  </div>
   <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/komedy3.jpg" alt="アイテム">
  </div>
  <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/komedy4.jpg" alt="アイテム">
  </div>
   <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/komedy5.jpg" alt="アイテム">
  </div>
  <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc_one" src="images/komedy6.jpg" alt="アイテム">
  </div>
 </div>
 
 
</div>

<div class="review_pc">

  <div class="eiga_title_pc">
    <p>ホラー</p>
  </div>
  
  <div class="reviewimage_pc">
    
  <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/hora1.jpg" alt="アイテム">
  </div>
   <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/hora2.jpg" alt="アイテム">
  </div>
   <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/hora3.jpg" alt="アイテム">
  </div>
  <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/hora4.jpg" alt="アイテム">
  </div>
   <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc" src="images/hora5.jpg" alt="アイテム">
  </div>
  <div class="reviewgazou_pc">
    <img class="u-max-full-width_pc_one" src="images/hora6.jpg" alt="アイテム">
  </div>
  
 </div>
 
 
</div>


<div class="return_pc">
 <div class="toptop">
  <ul>
   <li><%= link_to 'TOPページへ戻る', root_url, class: 'btn btn-lg btn-danger' %></li>
  </ul>
 </div>
</div>
