<% if logged_in? %>
<div class="row">
  <%= render "movies/movies", movies: @movies %>
</div>



  
<% else %>
<div id="main_visual">
  <div class="row">
  <section class="hoge"><img src="images/Collage_Fotor.jpg" alt="Movie"></section>
  </div>
</div>
<% end %>
<div class="row" id="contact">
  <section id="contact">
        <h2 class="text-center">Contact</h2>
        <div class="news">
        <ul>
          <li><a href="mailto:happy.doughnut.k0529@gmail.com"><i aria-label="メール" class="fa fa-envelope-o"></i></a></li>
          <li class="github"><a href="#"><i aria-label="GitHub" class="fa fa-github"></i></a></li>
          <li class="skype"><a href="#"><i aria-label="Skype" class="fa fa-skype"></i></a></li>
        </ul>
        </div>
  </section>
</div>
<footer>
    <small>&copy; 2019 Le film.</small>
</footer>



