<% if logged_in? %>
<div class="row">
  <%= render "movies/movies", movies: @movies %>
</div>



  
<% else %>
<div id="main_visual">
  <div class="row">
  <section class="hoge"><img src="images/Collage_Fotor.jpg" alt="Movie"></section>
  </div>
</div>
<% end %>
<footer>
    <small>&copy; 2019 Le film.</small>
</footer>



