@charset "UTF-8";
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

#header_top {
    background-color: black;
    height: 80px;
    text-align: center;
}

#header_title {
    
    display: inline-block;
    font-size: 60px;
    font-weight: bolder;
    
}

#header_top a:hover{
    color: #FFFF00;
}

#header_copy {
    color: white;
    font-size: 20px;
    font-weight: bolder;
    
}

#header_nav {
    height: 60px ;
    margin: 0 auto;
    width: 100%;
}

#header_nav ul {
    height: 40px;
    margin: 10px 0px 0px 0px;
    padding-left: 0px;
    
}

ul li {
    color: black;
    font-size: 25px;
    font-weight: bold;
    line-height: 40px;
    margin-left: 5px;
    padding-left: 3rem;
    margin-right: 5px;
    padding-right: 3rem;
}


#header {
    height: 155px;
    min-width: 1300px;
    background-color:black ;
}


.hoge img {
    width:1440px;
    
}

.row {
    
    margin-right: -15px;
    margin-left: -15px;
}



footer  {
    background-color: black;
    text-align: center;
    font-size: 40px;
    color: #1E90FF;
    font-weight: bolder;
    padding: 0;
    margin: 0;
    margin-right: -15px;
    margin-left: -15px;
}






.search {
    margin-top: 20px;
    margin-bottom: 20px;
}



.movie .panel-heading {
  height: 250px;
}

.movie .panel-heading img {
  height: 100%;
  max-width: 100%;
}

p.movie-title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.movie .panel-body {
  height: 120px;    /* Want ボタンが増えたので、70px から 120pxに修正 */
}


.movie .buttons form {
  display: inline-block;
  margin: 0 5px;
}

.media-body {
    border-bottom: 2px solid gray;

}

.name{
    color: blue;
}

.title{
    color: blue;
}

.content{
    color: black;
}

.user{
    color: blue;
}

.name:hover {
    color: red;
}

.title:hover {
    color: red;
}

.play{
    margin: auto;
    padding: auto;
    width: 650px;
    font-size: 25px;
    font-weight: bold;
    
}

p.important {
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: #1E90FF;
}

.hoge {
    width: 1440px;
    margin: 0 auto;
}



/*body {*/

/*background-image: url(/images/eigakan1.jpg);*/
/*}*/

.animated {
    opacity: 0;
}