/*---------------------------------------------pcヘッダー画像の中身------------------*/

#header {
    width: 100%;
    background-color: black;
    /*display: none;*/
}

#header_top a {
    color: red;
}

#header_title {
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    padding-left: 15px;
}

.pc_navbar ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-end ;
    margin-bottom: 0;
    padding-right: 25px;
}

.pc_navbar ul li {
    margin:10px 10px 0 10px;
    font-size: 20px;
    
}

.container-fluid {
    margin: 0;
    padding: 0;
}


#main_visual {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.hoge {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-position: 20% center;
    background-image: url(/images/eigakan12.jpg);
}

.eigatitle {
    color: white;
    font-size: 35px;
    padding: 60px 0 0 60px;
    font-weight: bold;
}


/*--------------------------------------------------ここから利用方法*/

.setumei_pc {
    background-color: black;
    width: 100%;
}

#setumei_bun_pc {
    text-align: center;
    font-size: 25px;
    color: white;
    padding-top: 35px;
    font-weight: bold;
}

.setumeinaiyou_pc {
    color: white;
    padding-top: 40px;
    padding-bottom: 60px;
    margin: 0 150px 0 150px;
}

/*----------------------------------------------------------映画の広告*/

.koukoku_pc {
    width: 100%;
    background-color: black;
}

.koukokuname_pc {
    text-align: center;
    font-size: 25px;
    color: white;
    padding-top: 35px;
    font-weight: bold;
    
}

.koukokuimage_pc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
}

.imagegazou_pc {
    margin-top: 30px;
    width: 19%;
    background-color: black;
    
}

.imagegazou_pc img {
     max-width: 100%;
     background-color: white;
     padding: 2%;
}

.voice_pc {
    text-align: center;
    font-size: 25px;
    color: white;
    padding-top: 35px;
    font-weight: bold;
}

/*----------------------------------------------------ここからフッター--------------*/

footer {
    width: 100%;
    background-color: red;
}

footer_pc {
    width: 100%;
}


.footer_copy {
    padding-top: 3%;
    text-align: center;
    font-size: 25px;
    color: white;
    font-weight: bold;
}

/*------------------------------------------------------------------------------------------------パソコン表示のトップページは完成---------*/

/*--------------------------------------------------------------ここから新規登録-------------------------*/

.text-center_pc {
    width: 100%;
}

.sign_up_pc {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 20px;
    
}

.up_pc {
    width: 100%;
    justify-content: center;
    display: flex;
}

.label_pc {
    display: inline;
    font-size: 17px;
    
    
}

.new_user {
 width: 100%;
}

.form-group {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
   
}

.text-right {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
}


/*------------------------------------------------------ここからログイン画面---------------------------------*/
.login_pc {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 20px;
    
}

.down_pc {
    width: 100%;
    
}

.ppp {
    text-align: center;
}

/*------------------------------------------------------------ここからログイン後のユーザー詳細*/

.container-fluid {
    width: 100%;
}

.user_syousai_pc ul{
    width: 100%;

}

.user_syousai_pc ul li {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 15px 0 0 15px;
}

.movie {
    width: 100%;
    
}

.oyayouso_pc {
    display: flex;
    justify-content: space-between;
  
}

.panel-default {
    width: 25%;
    
}

.panel-heading img{
    max-width: 100%;
}