/*pcヘッダー*/

#header {
    width: 100%;
    background-color: black;
}

#header_top a {
    color: red;
}

#header_top .pc_navbar ul li.both a {
    color: white;
}

#header_top .pc_navbar_log ul li.bothboth a{
    color: white;
}

#header_title {
    text-align: center;
    width: 100%;
    font-size: 50px;
    font-weight: bold;
    text-align: left;
    padding-left: 20px;
    display: inline
}

.pc_navbar ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: flex-end ;
    margin-bottom: 0;
    padding-right: 25px;
}

.pc_navbar_log ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin-bottom: 0;
}

.pc_navbar_log ul li {
    list-style: none;
    margin: 0 10px 0 10px;

}

.pc_navbar ul li {
    margin:10px 10px 0 10px;
    font-size: 20px;

}

.container-fluid {
    margin: 0;
    padding: 0;
}


#main_visual {
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
}

.space {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-image: url(/images/eigakan12.jpg);
}

.movie_title_pc {
    color: white;
    font-size: 37px;
    padding: 80px 0 0 80px;
    font-weight: bold;
}

.character {
    width: 100%;
}

.character ul li {
    text-align: center;
    padding:5px 0 5px 0;
    font-size: 23px;
    font-weight: bold;
}

body.users_new {
    background-color: #090909;

}

body.users_create {
    background-color: #090909;

}

.alert-danger {
  margin-bottom: 0;
}

body.sessions_new {
    background-color: #090909;

}

body.sessions_create {
    background-color: #090909;

}


.alert-success {

    margin-bottom: 0;
}

/*利用方法*/

.setumei_pc {
    background-color: black;
    width: 100%;
    border-bottom: 1px solid #666;
}

#explanation_sentence_pc {
    text-align: center;
    font-size: 25px;
    color: white;
    padding-top: 35px;
    font-weight: bold;
}

.explanation_merit_pc {
    color: white;
    padding-top: 40px;
    padding-bottom: 60px;
    margin: 0 170px 0 170px;
}

.pc_navbar_log {
    width: 50%;
    margin: auto;
    position: absolute;
    top: 6%;
    left: 25%;
}

.pc_navbar_log ul {
    list-style: none;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-bottom: 0;
}

.pc_navbar_log ul li {
    font-size: 15px;
}



.new_user a {
    color: white
}


.middle {
    width: 100%;
}

.middle_pc {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
    margin-top: 0;
}

.abc {
    width: 100%;
}

.member_registration_pc {
    padding-top: 40px;
    padding-left: 80px;
}

.member_registration_sp {
    display: none;
}

.pagination {
    margin-left: 5px;
}


/*映画の広告*/


.koukoku_pc {
    width: 100%;
    background-color: black;
}

.Advertisement_pc {
    text-align: center;
    font-size: 30px;
    color: white;
    padding-top: 35px;
    font-weight: bold;

}

.koukokuimage_pc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

}

.imagegazou_pc {
    margin-top: 30px;
    width: 19%;

}

.imagegazou_pc img {
     max-width: 100%;
     background-color: white;
     padding: 2%;
     margin-bottom: 40px;
}

.voice_pc {
    text-align: center;
    font-size: 25px;
    color: white;
    padding-top: 35px;
    font-weight: bold;
}

.review_pc {
    width: 100%;
    background-color: #F6F6F6;
}

.reviewname_pc {
    text-align: center;
    font-size: 30px;
    color: black;
    padding-top: 35px;
    font-weight: bold;

}

.reviewimage_pc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}

.Advertisement {
    margin-top: 15px;
    width: 19%;
    margin-bottom: 30px;

}

.Advertisement img {
     max-width: 100%;
     background-color: white;
     padding: 2%;
}



.enjoy_pc {
    width: 100%;
    background-color: #F6F6F6;

}

.enjoy_pc p {
    text-align: center;
    font-size: 25px;
    color: black;
    padding-top: 35px;
    font-weight: bold;
    margin-bottom: 50px;
}

.container_pc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.skill-box_pc {
    width: 32%;
    margin-bottom: 70px;
}

.skill_gazou img {
    max-width: 100%;
}

.container_pc p {
    text-align: left;
    font-size: 20px;
    margin: 0;
    padding-top: 30px;
}

.movie_titles_pc {
    width: 100%;
}

.movie_titles_pc p{
    text-align: center;
    font-size: 20px;
    color: black;
    margin: 0;
    padding-top: 20px;
}

.news_pc ul{
    width: 100%;
    padding-bottom: 20px;
    background-color: #F6F6F6;
    margin-bottom: 0;
}

.news_pc li {
    text-align: center;
    font-size: 20px;
    background-color: #F6F6F6;
}

.middle ul {
    margin-bottom: 0;
}


.back_to_top ul {
    margin-bottom: 0px;
}


/*フッター*/


footer {
    width: 100%;
    background-color: black;
}

footer_pc {
    width: 100%;
}


.footer_copy {
    text-align: center;
    font-size: 30px;
    color: red;
    font-weight: bold;
}

.contact_pc ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    padding-right: 30px;
    padding-top: 20px;
}

.contact_pc ul li{
    font-size: 20px;
    padding-left: 20px;
}

.contact_pc ul li a{
    color: white;
}

.character ul {
    width: 250px;
    background-color: red;
    border-radius: 10px;
    margin: 8px auto;
}



/*新規登録*/


.text-center_pc {
    width: 100%;
}

.sign_up_pc {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 20px;
    color: white;
}

.up_pc {
    width: 100%;
    justify-content: center;
    display: flex;
}

.label_pc {
    display: inline;
    font-size: 17px;


}

.new_user {
    width: 100%;
}

.form-group_six {
    width: 50%;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 1%;

}

.text-right {
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 5%;
    margin-top: 5%;
}


/*ログイン*/


.login_pc {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding-top: 40px;
    padding-bottom: 20px;
    color: white;
}

.label_pc {
    color: white;
}

label[for] {
    font-weight: bold;
    font-size: 15px;
}

.email {
    color: white;
}

.password {
    color: white;
}

.down_pc {
    width: 100%;

}

.new_user_top {
    text-align: center;
}

.panel-body_pc p {
    height: 3rem;
    text-align: center;
}


/*ユーザー詳細*/


.container-fluid {
    width: 100%;
}

.user_syousai_pc ul{
    width: 100%;

}

.user_syousai_pc ul li {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    padding: 15px 0 0 15px;
}

.movie {
    width: 100%;

}

.movie_image_pc {
    display: flex;
    width: 100%;
}

.panel-heading img{
    max-width: 100%;
}

.row {
    margin: 0;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.row > .movie {
    width: 24%;
    margin-right: 0.5%;
    margin-left: 0.5%;
}


.movie-title_pc a{
    display: block;
    height: 3rem;
}


/*レビュー一覧*/


input.btn-block {
  margin-top: 20px;
}

.media-list {
    display: flex;
    flex-wrap: wrap;

}
.media {
    width: 24%;
    margin-right: 0.5%;
    margin-left: 0.5%;
}

.media-body {
    padding-top: 20px;
    border: solid 1px black;
}

.title_pc {
    height: 50px;
}

.media:first-child {
    margin-top: 15px;
}

.btn-xs {
    margin-bottom: 1.5%;
}

p {
    font-size: 15px;

}


/*映画検索*/



.row_two {
    width: 100%;
}

.form-group_pc {
    padding-top: 70px;
    padding-bottom: 20px;
}


/*ランキング*/



.row {
    margin-top: 20px;
}


/*bounce*/


.animated {
    opacity: 0;
}


.back_to_top li {
    font-size: 20px;
    text-align: center;
    padding-top: 35px;
    padding-bottom: 20px;
    background-color: #F6F6F6;
}

/*sp非表示の項目*/


.movie_title_sp {
    display: none;
}

.sp_navbar_log {
    display: none;
}

.u-max-full-width_pc_one {
    display: none;
}

.character_sp {
    display: none;
}


/*sp表示*/



@media (max-width: 767px) {

#header_title {
    font-size: 40px;
}

.pc_navbar ul li {
    margin: 10px 0px 0 10px;
    font-size: 15px;
}

.movie_title_pc {
    display: none;
}

.movie_title_sp {
    display:block;
    color: white;
    padding: 100px 0 0 30px;
    font-size: 23px;
    font-weight: bold;

}

.explanation_merit_pc {
    padding-top: 20px;
    padding-bottom: 30px;
    margin: 0 20px 0 20px;

}

#explanation_sentence_pc {
    font-size: 18px;
    padding-top: 20px;

}

.reviewname_pc {

    font-size: 22px;
    padding-top: 20px;

}

.movie_titles_pc p {
    padding-top: 45px;
    font-size: 15px;
    padding-bottom: 15px;
}

.news_pc li {
    padding-top: 30px;
    font-size: 15px;
}

.Advertisement_pc {
    font-size: 22px;
    padding-top: 20px;

}

.enjoy_pc p {

    font-size: 22px;
    padding-top: 30px;
    margin-bottom: 20px;
}

.Advertisement {
    margin-top: 10px;
    margin-bottom: 5px;
    width: 33%;
    border-bottom: 5px solid #fff;
}

.imagegazou_pc {
    margin-top: 10px;
    width: 33%;
}

.imagegazou_pc img {
    margin-bottom: 5px;
}

.container_pc p {
    font-size: 12px;
    margin: 0;
    padding-top: 10px;
}

.contact_pc ul li {
    font-size: 15px;
    text-align: right;
}

.footer_copy {

    font-size: 20px;
}

footer {
    padding-top: 15px;
}

.pc_navbar_log{
    display: none;
}

.sp_navbar_log {
    display: block;
    padding-top: 10px;
}

.glyphicon{
    color: white;
    font-size: 30px;
    position: absolute;
    top:30px;
    right:10%;
    z-index: 100;
}

.sp_navbar_log ul li {
    text-align: center;
    margin: auto;
    padding-bottom: 2px;
    padding-top: 2px;
    font-size: 18px;
    border-bottom: solid white thin;
}


.media {
    width: 49%;
}

.row > .movie {
    width: 49%;
    margin-right: 0.25%;
    margin-left: 0.25%;
}

.space {
    height: 420px;
}

.u-max-full-width_pc_one {
    display: block;
}

.u-max-full-width_pc_two {
    display: none;
}


#header_top .sp_navbar_log ul li.bothboth a{
    color: white;
}


.member_registration_pc{
    display: none;
}

.member_registration_sp {
    display: block;
    padding-top: 25px;
    padding-left: 30px;
}

.form-group_pc {
    padding-top: 90px;
    padding-bottom: 30px;
    margin: 0 30px 0 30px;
}

.input-lg {
    height: 36px;
}

.skill-box_pc {
    margin-bottom: 20px;
}

.back_to_top ul {
    margin-bottom: 0px;
}

.col-xs-6{
    width: 49%;
}

.character {
    display: none;
}

.character_sp {
    display: block;
    margin: auto;
}

.character_sp ul {

    background-color: red;
    border-radius: 3px;
}

.character_sp ul li {
    text-align: center;
    padding: 5px 5px 5px 5px;
    font-size: 18px;
    font-weight: bold;
}

h1 {
    font-size: 30px;
}

.form-group_six {
    width: 90%;
    margin: auto;
    margin-bottom: 1%;

}


}
